{% extends "account/base_manage.html" %}

{% block head_title %}Смена пароля{% endblock %}
{% block auth_title %}Смена пароля{% endblock %}

{% block auth_body %}
  <form class="auth__form" method="post" action="{% url 'account_change_password' %}">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="auth__errors">
        {% for error in form.non_field_errors %}<p>{{ error }}</p>{% endfor %}
      </div>
    {% endif %}

    {% for field in form %}{% include "includes/form_field.html" %}{% endfor %}
    {{ redirect_field }}

    <button class="btn btn--primary auth__submit" type="submit">Сохранить пароль</button>
  </form>
{% endblock %}
